.header{
    border:2px solid red;
    background-color:blue;
    text-align:center;
    color:white
  }
  .container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  *{
    font-family: Arial;
  }
  .sub{
    width: 60%;
  }
  .cal{
    text-align:center;
  }
  .cal > button {
    padding:0.5%;
    background-color:green;
    color:white
  }
  .footer{
    text-align: center;
    height:5vh;
    border:2px solid pink;
    background-color:black;
    color:white
  }
  @media screen and (max-width:800px) {
    .sub{
      width: 98%;
    }
  }